<div class="container" ng-controller="transactionsCtrl">
  <table id="table-viewer" class="table table-bordered">
    <tr>
      <th>Date</th>
      <th>Transaction</th>
      <th>Amount</th>
      <th class="th-converter">Convert to:
        <select ng-model="converter" ng-options="currency.code for currency in currencies" class="form-control" id="converter">
        </select>
      </th>
    </tr>
    <tr ng-repeat="transaction in transactions">
      <td>{{transaction.date | date:"MM/dd/yyyy"}}</td>
      <td>{{transaction.type}}: {{transaction.receiver}}</td>
      <td>{{transaction.amount | number: 2| symbolizer:transaction.currency }}</td>
      <td>{{transaction.exchange | number: 2 }}</td>
    </tr>
  </table>
</div>
