<div class="jumbotron">
  <div class="container">
    <form class="form-horizontal" name="loginform" novalidate>
      <div class="form-group" ng-class="{'has-error': loginform.email.$touched && loginform.email.$invalid}" >
        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input ng-model="user.email" type="email" name="email" class="form-control" placeholder="Email" required>
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error': loginform.password.$touched && loginform.password.$invalid}">
        <label for="password" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
          <input ng-model="user.password" name="password" type="password" class="form-control" placeholder="Password" required>
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error': errorMsg}">
        <label for="submit" class="col-sm-2 control-label">{{errorMsg}}</label>
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" ng-disabled="loginform.$invalid" ng-click="signin()" class="btn btn-default">Sign in</button>

        </div>
      </div>
    </form>
  </div>
</div>
